{% extends 'main/base.html' %}
{% load static %}

{% comment %} {% block title %}Verify Passcode{% endblock %} {% endcomment %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/alumni_passcode_verify.css'%}?v={{ now|date:"U" }}" />
{% endblock %}

{% block content %}

<div class="container">
    <h2>Verify Passcode</h2>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="passcode">Enter Your 6-Digit Passcode</label>
            <input type="password" name="passcode" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Verify</button>
    </form>
</div>

{% endblock %}
