{% extends 'main/base.html' %}
{% load static %}

{%block content %}

<link rel="stylesheet" href="{% static 'css/team.css' %}">


<section class="team-section">
    <h1>MEET <span>the TEAM</span></h1>
    <p>responsible for making the magic happen</p>
    <div class="container">
        <div class="team-grid">
            <div class="team-member">
                <div class="member-info">
                    <h3 class="member-name">Mainak</h3>
                    <p class="member-role">UI/UX Designer</p>
                </div>
                <div class="member-image">
                    <img src="{% static 'media/images/team/mainak.jpeg'%}" alt="Mainak">
                </div>
                <div class="team-social-links">
                    <a href="https://www.linkedin.com/in/mainak-majumder-433b60214/"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/mainak1023"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="team-member">
                <div class="member-info">
                    <h3 class="member-name">Sagar</h3>
                    <p class="member-role">Developer</p>
                </div>
                <div class="member-image">
                    <img src="{% static 'media/images/team/sagar.jpeg'%}" alt="Sagar">
                </div>
                <div class="team-social-links">
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="team-member">
                <div class="member-info">
                    <h3 class="member-name">Chaiti</h3>
                    <p class="member-role">Developer</p>
                </div>
                <div class="member-image">
                    <img src="{% static 'media/images/team/chaiti.jpeg'%}" alt="Chaiti">
                </div>
                <div class="team-social-links">
                    <a href="#"><i class="fab fa-github"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="team-member">
                <div class="member-info">
                    <h3 class="member-name">Deadpool</h3>
                    <p class="member-role">Creative Designer</p>
                </div>
                <div class="member-image">
                    <img src="{% static 'media/images/team/deadpool.jpg' %}" alt="Rachel">
                </div>
                <div class="team-social-links">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}